<%= form_for(current_user.users_relationships.find_by_followed_id(user.id),
        :html => { :method => :delete },
        #:remote => true
        ) do |f| %>
    <div><%= f.hidden_field :followed_id %></div>
    <div><%= f.submit "Unfollow" %></div>
<% end %>